<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Today's article</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.</p>
    <div *ngFor="let article of articles">
      <hr class="my-4">
      <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>: <app-like></app-like>
    </div>
    <hr class="my-4">

    <div>
      <h2>Article Information</h2>
      <table>
        <tr>
          <td>Title:</td>
          <td><textarea class="form-control" [(ngModel)]="article.title" cols="70"></textarea></td>
        </tr>
        <tr>
          <td>Url:</td>
          <td>
            <textarea class="form-control" [(ngModel)]="article.url" cols="70"></textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2" >
            <button style="width: 100%" class="btn btn-outline-primary" (click)="addNewArticle()">Add article</button>
          </td>
        </tr>
      </table>
    </div>
    <!--    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
  </div>
</div>
